#adminHomeBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DFF2EB;
}
#adminHomeButtonView {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    background-color: #DFF2EB;
}

.adminButton {
    width: "30%";
    height: "30%";
    border-radius: 25px;
    margin: 5%;
    font-size: 20px;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background: #007bff;
    color: white;
  }
  
  input[type="checkbox"] {
    transform: scale(1.2);
  }
  
  .popup-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
  
  .submit-btn {
    padding: 8px 12px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .close-btn {
    padding: 8px 12px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left:10px;
  }
  