.lockerItem {
    text-decoration: none;
}
.card {
    background-color: #7AB2D3;
    padding: 1%;
    margin: 2%;
    border-radius: 25px;
    display: flex;
    text-decoration: none;
    font-size: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: self-start;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s linear;
    justify-content:space-between;
    align-items:center;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card p{
    color: #292F3F;
}

#Bar {
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */
    /* top:10; */
    align-items: center;
    background-color: rgb(20,47,68);
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}

#addressBar > h2 {
    margin-left: 30px;
    color: white;
}

#screenButton {
    background-color: #B9E5E8;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
}
.town-group {
    margin: 15px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

