#delivery-detail-container {
    width: 100;
    height: 100vh;
	background-image: url('../../public/images/gradient1.png');
}

#delivery-detail-container h1 {
    font-family: 'Pacifico', cursive;
    margin: 0 2%;
    font-size: 300%;
}

#trackingID-input {
    display: flex;
    margin: 0 20%;
    background-color: #123458;
    padding: 0.5%;
    gap: 1%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#trackingID-input > #button {
    width: 30%;
    height: 60px;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    background-color: #EDE8DC;
}

#trackingID-input > input {
    margin: 0;
    height: 40px;
    border-radius: 25px;
    font-size: large;
    padding-left: 2%;
}

#delivery-detail {
    background-color: antiquewhite;
    margin: 2%;
    padding: 2%;
    height: 73%;
	background-color: rgba(255, 255, 255, 0.585);
	backdrop-filter: blur(30px);
    border-radius: 30px;
}

#delivery-detail h1 {
    font-size: 200%;
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 500;
}

#detail-list {
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

#detail-list h3 {
    display: flex;
    justify-content: center;
    width: 400px;
    background-color: #E7CCCC;
    border-radius: 15px;
    padding: 25px 10px;
    margin: 1%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    box-shadow:  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}